@import "../../variables";

.toast-custom {
    background-color: $red;
    color: $white;
    padding: 24px;
    border-radius: 24px;
    font-size: 20px;
    position: relative;

    .close {
        position: absolute;
        top: 12px;
        right: 12px;
    }
}
