@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$hard-orange: #FF8A14;
$light-orange: #FFA64D;
$text-grey: #8F8F8F;
$light-grey: #F6F6F6;
$text-black: #585858;
$black: #333;
$white: #FFF;
$yellow: #EBBE43;

$orange-gradient: linear-gradient(to left bottom, #ff8a14, #ffa64d);
$yellow-gradient:  linear-gradient(to left bottom, #ebbe43, #f8e35b);


$main-font: 'Montserrat', sans-serif;